.b/*
.benchmarks
.github
.git
**/.mypy_cache
.pytest_cache
.vscode
audio-for-tests
babycat.h
**/Cargo.lock
CODE_OF_CONDUCT.md
makefile-help.md
docker
docs/_build
**/node_modules
**/package-lock.json
target
**/venv
vendor