# Sphinx makes our documentation
Sphinx==4.4.0

# Generates JavaScript and TypeScript documentation for Sphinx
sphinx-js==3.1.2

# adds metadata to Sphinx pages
sphinxext-opengraph==0.5.1

# type hints in documentation
sphinx-autodoc-typehints==1.17.0

# used to display tabs in documentation
sphinx-inline-tabs==2022.1.2b11

# generates Sphinx documentation from Doxygen XML files
breathe==4.33.1

# our favorite Sphinx theme. we leave it unpinned to always get the latest.
neocrym-sphinx-theme
