# helps us write and run tests
pytest==7.0.1

# helps us write and run benchmarks
pytest-benchmark==3.4.1

# black formats python source code
black==22.1.0

# isort sorts python source code
isort==5.10.1

# pylint warns of linting errors
pylint==2.12.2

# type annotations
mypy==0.931
