# Sphinx makes our documentation
Sphinx==3.5.4

# Generates JavaScript and TypeScript documentation for Sphinx
sphinx-js==3.0.1

# adds metadata to Sphinx pages
sphinxext-opengraph==0.4.1

# type hints in documentation
sphinx-autodoc-typehints==1.11.1

# used to display tabs in documentation
sphinx-inline-tabs==2021.3.28b7

# generates Sphinx documentation from Doxygen XML files
breathe==4.30.0

# our favorite Sphinx theme. we leave it unpinned to always get the latest.
neocrym-sphinx-theme
